body{
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
	height: 1000px;
	font-family: sans-serif;

}
* {
	margin: 0;
	padding: 0;
}
p{margin-bottom: 0;
	}

.navbar{
	padding: 0px;
	height: auto;
	box-shadow:0 6px 8px 0 rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.30);
	-moz-box-shadow:0 6px 8px 0 rgba(0, 0, 0, 0.30);
	
	position: sticky;
	top: 0;
	background: #cc6699;
	text-align: center;
	z-index: 1;
}
.ul_div{
	text-align: center;
	display: inline-block;
		width: 90%;
		text-align: center;
		margin-left: 30px;
}
.navbar ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
	text-align: left;
	display: inline-block;
	height: 44px;
}


.navbar li{
	display: inline-block;
	height: 44px;
}

.navbar .linklist{
	text-decoration: none;
	color: #efeff5;
	width: 150px;
	display: block;
	padding: 5px;
	font-size: 21px;
	height: 44px;
	text-align: center;
	cursor: pointer;
}

.navbar .linklist:hover{
	color: #47476b;
}

.navbar #ham_button{
	position: absolute;
	right: 40px;
		padding: 5px;
	text-align: center;
	font-size: 21px; 
	color: #efeff5;
cursor: pointer;
}
.hamnurger{
	padding-top: 10px;
	margin-bottom:0;
}
.hamburger i:hover{
	color: #bf80ff;
}
.ham_lista{
	position: sticky;
	top: 44px;
}
/*.intro_div{
	position: relative;
}*/
.intro_div #myHamb{
	background: #d279a6;
	color:#47476b;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	padding: 10px 10px;
	border-radius: 0 0 10px 10px;
	z-index: 1;
	text-align: center;
}

.myHambProj{
	list-style: none;
	padding: 0px 20px 0px;
	margin: 0;

}
.myHambProj a:hover{
	color: #e600ac;
}
.myHambProj li{
	margin: 0 0 5px 0;
}
.link_ham{
	text-decoration: none;
	color: #47476b;
	padding: 3px 0;
}
.our_list{
	width: 99%;
	text-align: center;
	padding-top: 30px;
}
.our_list ul{

	font-size: 20px;
	display: inline-block;
	text-align: left;
	border: solid gray;
	border-radius: 10px;
	padding-right: 5px;
}
.test_rel{
	position: absolute;
	right: 10px;
	padding: 7px;
	width: 100px;
	transition: background 2s, width 2s;
		font-size: 20px;
		margin: 20px;
}
/* nije htelo da radi za width, mora da se postavi neka pocetna vrednost */
.test_rel:hover{
	width: 200px;
	background: #ffb366;

}
.side_menu{
	width: 0;
	position: absolute;
	left: 0;
	height: 100%;
	z-index: 2;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	transition: 0.5s;
}
.side_menu_ul{
	display: none;
	padding-top: 30px;
	color: white;
	transition: 0.3s;
}
.link_ham{
	color: white;
}
.close_button{
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 24px;
	cursor: pointer;
	color: white;
}
.open_sidebar{
	width: 99%;
	text-align: center;
}
.open_button{
	padding: 5px;

	border-radius: 3px;
	background: #cc6699;
	color: white;
	font-size: 20px;

}
.forms{
	float: left;
	width: 38%;
}
.form{
	padding: 20px;
	}

#p_password{
	padding: 15px;
	font-size: 20px;
}
#p_select{
	padding: 15px;
	font-size: 20px;
}
.img_animation{

	float: left;
	width: 20%;

}
.big_div{
	width: 99%;

}
.img_animation img{
	transition: transform 2s;

}