body{
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
* {
	margin: 0;
	padding: 0;
}

.navbar{
	padding: 0px;
	height: auto;
	box-shadow:0 6px 8px 0 rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.30);
	-moz-box-shadow:0 6px 8px 0 rgba(0, 0, 0, 0.30);
	
	position: relative;
	background: #cc6699;
}

.navbar ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
	text-align: left;
	width: 90%;
	height: 44px;
	
}

.navbar .contact{
	display: none;
}

.navbar li{
	display: inline-block;
	height: 44px;
}

.navbar .linklist{
	text-decoration: none;
	color: #efeff5;
	width: 150px;
	display: block;
	padding: 5px;
	font-size: 21px;
	height: 44px;
	text-align: center;
}

.navbar .linklist:hover{
	background: #9679ec;
}

.navbar .hamburger{
	position: absolute;
	right: 40px;
		padding: 5px;
	text-align: center;
	font-size: 21px;
	right: 40px; 
height: 44px;
	color: #efeff5;

}
.hamburger i:hover{
	color: #bf80ff;
}

.intro_div{
	position: relative;
}
.intro_div #myHamb{
	background: #e6b3cc;
	color:#47476b;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	padding: 10px 10px;
	border-radius: 0 0 10px 10px;
	z-index: 1;
	text-align: center;
}

.myHambProj{
	list-style: none;
	padding: 0px 20px 0px;
	margin: 0;

}
.myHambProj a:hover{
	color: #e600ac;
}
.myHambProj li{
	margin: 0 0 5px 0;
}
.link_ham{
	text-decoration: none;
	color: #47476b;
	padding: 3px 0;
}